<div class="document <%= render_document_class collection %>" itemscope itemtype="<%= collection.itemtype %>">
  <%= render partial: 'index_header_default', locals: { :document_counter => collection_counter, document: collection } %>
  <p> <%= truncate(collection['description_tesim'].first, length: 400) %> </p>
  <%= render partial: 'index_default', locals: { document: collection } %>
</div>
