<div id="contact-us-page">
  <div class='row'>
    <h1> Contact Us </h1>
    <p> Please use the contact form to submit general questions about the Alexandria Digital Research Library website, to report a problem you are experiencing with the system, or to provide feedback. </p>
  </div>

  <%= form_tag(contact_us_form_path) do %>
    <div class='row'>
      <%= label_tag :category, 'Issue Type (Please Select)' %>
      <br />
      <%= select_tag :category, options_for_select(contact_us_categories, 'General Inquiry or Request'), required: 'required' %>
    </div>

    <div class='row'>
      <%= label_tag :name, 'Your Name' %>
      <br />
      <%= text_field_tag :name, nil, required: 'required', class: contact_us_fields_class %>
    </div>

    <div class='row'>
      <%= label_tag :email, 'Your Email' %>
      <br />
      <%= text_field_tag :email, nil, required: 'required', class: contact_us_fields_class %>
    </div>

    <div class='row invisible'>
      <%= label_tag :zipcode, 'Your Zip Code (Humans: Leave This Empty)' %>
      <br />
      <%= text_field_tag :zipcode, nil, class: contact_us_fields_class %>
    </div>

    <div class='row'>
      <%= label_tag :message %>
      <br />
      <%= text_area_tag :message, nil, rows: 8, required: 'required', class: contact_us_fields_class %>
    </div>

    <div class='form-actions row'>
      <%= submit_tag('Send', class: 'btn btn-primary') %>
    </div>
  <% end %>
</div>
