<div id="footer">
  <div id="footer_left">
    <p>
      <%= link_to 'About ADRL', about_path %>
      &nbsp; &middot; &nbsp;
      <%= link_to 'Contact Us', '#' %>
    </p>

    <div class="copyright">
      Copyright &copy; <%= Date.today.year %>
      &nbsp;The Regents of the University of California, All Rights Reserved.
    </div>
  </div>

  <div id="footer_right">
    <div class="logo-link">
      <%= link_to "http://www.library.ucsb.edu" do %>
        <%= image_tag 'library-logo.png', alt: "ADRL logo" %>
      <% end %>
    </div>

    <div class="logo-link">
      <%= link_to "http://www.ucsb.edu" do %>
        <%= image_tag 'UCSB-footer-logo.png', alt: "UCSB logo" %>
      <% end %>
    </div>
  </div>

</div>
