<div id="footer">
  <div id="footer_left">
    <p>
      <%= link_to 'About ADRL', about_path %>
      &nbsp; &middot; &nbsp;
      <%= link_to 'Contact Us', contact_us_form_path %>
    </p>

    <div class="copyright">
      Copyright &copy; <%= Date.today.year %>
      &nbsp;The Regents of the University of California, All Rights Reserved.
    </div>
  </div>

  <div id="footer_right">
    <div class="logo-link">
      <%= link_to "http://www.library.ucsb.edu" do %>
        <%= image_tag 'library-logo.png', alt: "UCSB Library Logo" %>
      <% end %>
    </div>

    <div>
      <%= link_to "http://www.ucsb.edu" do %>
        <%= image_tag('UCSB-logo-small.png', alt: "UCSB logo", class: 'ucsb-small') %>
        <strong>UC Santa Barbara</strong><br />
        Santa Barbara, CA 93106-9010
      <% end %>
    </div>
  </div>

</div>
