<!DOCTYPE html>
<html>

<head>
  <title><%= render_page_title %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'welcome/header_splash' %>

  <div id="main-container" class="container">
    <%= render '/flash_msg', layout: 'shared/flash_messages' %>

    <div class="row">
      <%= yield %>
    </div>
  </div>

  <%= render 'shared/footer' %>
</body>

</html>
